<div class="card">
  <ngb-tabset justify="fill">
    <ngb-tab>
      <ng-template ngbTabTitle>Details</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title mb-0">fillter form</h4>
          <form>
            <button type="button" class="btn btn-danger" (click)="clearFilter()">clearFilter</button>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellName">Spell Name</label>
                  <input class="form-control" type="text" id="spellName" name="spellName" [(ngModel)]="formFilter.name" placeholder="name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellRange">Range</label>
                  <input class="form-control form-control-sm" type="text" id="spellRange" name="spellRange" [(ngModel)]="formFilter.range" placeholder="name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellTarget">Target</label>
                  <input class="form-control form-control-sm" type="text" id="spellTarget" name="spellTarget" [(ngModel)]="formFilter.target" placeholder="name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="AreaOfEffect">Area of Effect</label>
                  <input class="form-control form-control-sm" type="text" id="spellAreaOfEffect" name="spellAreaOfEffect" [(ngModel)]="formFilter.aoe" placeholder="name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellDuration">Duration</label>
                  <input class="form-control form-control-sm" type="text" id="spellDuration" name="spellDuration" [(ngModel)]="formFilter.duration" placeholder="name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellCastingTime">Casting Time</label>
                  <input class="form-control form-control-sm" type="text" id="spellCastingTime" name="spellCastingTime" [(ngModel)]="formFilter.castingTime	" placeholder="name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellSchool" style="padding-right:10%">School</label>
                  <select class="form-control form-control-sm" id="spellSchool" name="spellSchool" [(ngModel)]="formFilter.school">
                    <option selected value="">Any</option>
                    <option> Abjuration </option>
                    <option> Conjuration  </option>
                    <option> Divination  </option>
                    <option> Enchantment  </option>
                    <option> Evocation  </option>
                    <option> Illusion  </option>
                    <option> Necromancy </option>
                    <option> Transmutation  </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellRitual" style="padding-right:10%">Ritual</label>
                  <select class="form-control form-control-sm" id="spellRitual" name="spellRitualTrue" [(ngModel)]="formFilter.ritual">
                    <option selected value="">Any</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellConcentration">Concentration</label>
                  <select class="form-control form-control-sm" id="spellConcentration" name="spellConcentration" [(ngModel)]="formFilter.concentration">
                    <option selected value="">Any</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellComponents">components</label>
                  <input class="form-control form-control-sm" type="text" id="spellCastingTime" name="spellCastingTime" [(ngModel)]="formFilter.castingTime	" placeholder="name">
                </div>
              </div>
              <div class="col">
                <div class="form-group form-control-sm">
                  <label for="spellLevel">Level</label>
                  <input class="form-control form-control-sm" type="number" id="spellLevel" name="spellLevel" min="0" max="9" [(ngModel)]="formFilter.level" placeholder="1">
                </div>
              </div>
              <div class="col">
                <div class="form-group form-control-sm">
                  <label for="spellSource">Source</label>
                  <input type="text" class="form-control" id="spellSource" name="spellSource" [(ngModel)]="formFilter.source">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="emote">Emote</label>
                  <textarea class="form-control" id="emote" name="emote" rows="3" [(ngModel)]="formFilter.emote"></textarea>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellEffects">Effects</label>
                  <textarea class="form-control" id="spellEffects" name="spellEffects" rows="3" [(ngModel)]="formFilter.effects"></textarea>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="higherLevel">Higher Level</label>
                  <textarea class="form-control" id="higherLevel" name="higherLevel" rows="3" [(ngModel)]="formFilter.higherLevel"></textarea>
                </div>
              </div>
              <!-- this spot -->
              <div class="col">
                <div class="form-group">
                  <label for="spellClass">classes</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select (click)="resetSubClasses()" multiple class="form-control" id="spellClass" name="spellClass" [(ngModel)]="formFilter.classes">
                    <option >Any</option>
                    <option >Cleric</option>
                    <option >Druid</option>
                    <option >Ranger</option>
                    <option >Wizard</option>
                    <option >Paladin</option>
                    <option >Bard</option>
                    <option >Sorcerer</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Paladin')" class="form-group">
                  <label for="spellOaths">Oaths</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellOaths" name="spellOaths" [(ngModel)]="formFilter.oaths">
                    <option >Any</option>
                    <option >Vengeance</option>
                    <option >Devotion</option>
                    <option >Ancients</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Druid')" class="form-group">
                  <label for="spellCircles">Circles</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellCircles" name="spellCircles" [(ngModel)]="formFilter.circles">
                    <option >Any</option>
                    <option >Forest</option>
                    <option >Desert</option>
                    <option >Coast</option>
                    <option >Swamp</option>
                    <option >Arctic</option>
                    <option >Mountain</option>
                    <option >Grassland</option>
                    <option >Underdark</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Warlock')" class="form-group">
                  <label for="spellPatrons">Patrons</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellPatrons" name="spellPatrons" [(ngModel)]="formFilter.patrons">
                    <option >Any</option>
                    <option >Great Old One</option>
                    <option >Fiend</option>
                    <option >Archfey</option>
                    <option >Fiend</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Cleric')" class="form-group">
                  <label for="spellDomains">Domains</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellDomains" name="spellDomains" [(ngModel)]="formFilter.domains">
                    <option >Any</option>
                    <option >Light</option>
                    <option >War</option>
                    <option >Tempest</option>
                    <option >Nature</option>
                    <option >Life</option>
                    <option >Knowledge</option>
                    <option >Trickery</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Damage</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Damage</h4>
          <p class="card-text"> </p>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Save</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Save</h4>
          <p class="card-text"> </p>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Heal</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Heal</h4>
          <p class="card-text">
          </p>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div class="card-footer">
    <p (click)="logit(formFilter)"> filter form</p>
  </div>
</div>

<br><br><br>