<div class="card">
  <ngb-tabset justify="fill">
    <ngb-tab>
      <ng-template ngbTabTitle>Details</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title mb-0">fillter form</h4>
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellName">Spell Name</label>
                  <input class="form-control" type="text" id="spellName" name="spellName" [(ngModel)]="formFilter.name" placeholder="name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellRange">Range</label>
                  <input class="form-control form-control-sm" type="text" id="spellRange" name="spellRange" [(ngModel)]="formFilter.range" placeholder="touch">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellTarget">Target</label>
                  <input class="form-control form-control-sm" type="text" id="spellTarget" name="spellTarget" [(ngModel)]="formFilter.target" placeholder="self">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="AreaOfEffect">Area of Effect</label>
                  <input class="form-control form-control-sm" type="text" id="spellAreaOfEffect" name="spellAreaOfEffect" [(ngModel)]="formFilter.aoe" placeholder="30ft">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellDuration">Duration</label>
                  <input class="form-control form-control-sm" type="text" id="spellDuration" name="spellDuration" [(ngModel)]="formFilter.duration" placeholder="1 round">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellCastingTime">Casting Time</label>
                  <input class="form-control form-control-sm" type="text" id="spellCastingTime" name="spellCastingTime" [(ngModel)]="formFilter.castingTime	" placeholder="1 action">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellSchool" style="padding-right:10%">School</label>
                  <select class="form-control form-control-sm" id="spellSchool" name="spellSchool" [(ngModel)]="formFilter.school">
                    <option selected value="">Any</option>
                    <option> Abjuration </option>
                    <option> Conjuration  </option>
                    <option> Divination  </option>
                    <option> Enchantment  </option>
                    <option> Evocation  </option>
                    <option> Illusion  </option>
                    <option> Necromancy </option>
                    <option> Transmutation  </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellRitual" style="padding-right:10%">Ritual</label>
                  <select class="form-control form-control-sm" id="spellRitual" name="spellRitualTrue" [(ngModel)]="formFilter.ritual">
                    <option selected value="">Any</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellConcentration">Concentration</label>
                  <select class="form-control form-control-sm" id="spellConcentration" name="spellConcentration" [(ngModel)]="formFilter.concentration">
                    <option selected value="">Any</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellComponents">components</label>
                  <input class="form-control form-control-sm" type="text" id="spellCastingTime" name="spellCastingTime" [(ngModel)]="formFilter.castingTime	" placeholder="no added">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellLevel">Level</label>
                  <input class="form-control form-control-sm" type="number" id="spellLevel" name="spellLevel" min="0" max="9" [(ngModel)]="formFilter.level" placeholder="1">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellSource">Source</label>
                  <input type="text" class="form-control form-control-sm" id="spellSource" name="spellSource" [(ngModel)]="formFilter.source">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="emote">Emote</label>
                  <textarea class="form-control" id="emote" name="emote" rows="3" [(ngModel)]="formFilter.emote"></textarea>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellEffects">Effects</label>
                  <textarea class="form-control" id="spellEffects" name="spellEffects" rows="3" [(ngModel)]="formFilter.effects"></textarea>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="higherLevel">Higher Level</label>
                  <textarea class="form-control" id="higherLevel" name="higherLevel" rows="3" [(ngModel)]="formFilter.higherLevel"></textarea>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellClass">classes</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select (click)="resetSubClasses()" multiple class="form-control" id="spellClass" name="spellClass" [(ngModel)]="formFilter.classes">
                    <option >Any</option>
                    <option >Cleric</option>
                    <option >Druid</option>
                    <option >Ranger</option>
                    <option >Wizard</option>
                    <option >Paladin</option>
                    <option >Bard</option>
                    <option >Sorcerer</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Paladin')" class="form-group">
                  <label for="spellOaths">Oaths</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellOaths" name="spellOaths" [(ngModel)]="formFilter.oaths">
                    <option >Any</option>
                    <option >Vengeance</option>
                    <option >Devotion</option>
                    <option >Ancients</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Druid')" class="form-group">
                  <label for="spellCircles">Circles</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellCircles" name="spellCircles" [(ngModel)]="formFilter.circles">
                    <option >Any</option>
                    <option >Forest</option>
                    <option >Desert</option>
                    <option >Coast</option>
                    <option >Swamp</option>
                    <option >Arctic</option>
                    <option >Mountain</option>
                    <option >Grassland</option>
                    <option >Underdark</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Warlock')" class="form-group">
                  <label for="spellPatrons">Patrons</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellPatrons" name="spellPatrons" [(ngModel)]="formFilter.patrons">
                    <option >Any</option>
                    <option >Great Old One</option>
                    <option >Fiend</option>
                    <option >Archfey</option>
                    <option >Fiend</option>
                  </select>
                </div>
                <div *ngIf="formFilter.classes.includes('Cleric')" class="form-group">
                  <label for="spellDomains">Domains</label>
                  <!-- <input class="form-control form-control-sm" type="select" placeholder="name"> -->
                  <select multiple class="form-control" id="spellDomains" name="spellDomains" [(ngModel)]="formFilter.domains">
                    <option >Any</option>
                    <option >Light</option>
                    <option >War</option>
                    <option >Tempest</option>
                    <option >Nature</option>
                    <option >Life</option>
                    <option >Knowledge</option>
                    <option >Trickery</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Damage</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Damage</h4>
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellDamageDamage">damage</label>
                  <input class="form-control form-control-sm" type="text" id="spellDamageDamage" name="spellDamageDamage" [(ngModel)]="damage.damage" placeholder="1d4">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellDamageDamageType">damage type</label>
                  <input class="form-control form-control-sm" type="text" id="spellDamageDamageType" name="spellDamageDamageType" [(ngModel)]="damage.damageType" placeholder="acid">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellHigherLevel">higher Level</label>
                  <div class="input-group">
                    <input class="form-control form-control-sm" type="number" id="spellHigherLevelDice" name="spellHigherLevelDice" [(ngModel)]="damage.higherLevelDice" placeholder="1">
                    <input class="form-control form-control-sm" type="text" id="spellHigherLevelDie" name="spellHigherLevelDie" [(ngModel)]="damage.higherLevelDie" placeholder="d4">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellDamageCastingStat">casting Stat</label>
                  <input class="form-control form-control-sm" type="text" id="spellDamageCastingStat" name="spellDamageCastingStat" [(ngModel)]="damage.castingStat" placeholder="true">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="spellDamageSecondaryDamage">secondary Damage</label>
                    <input class="form-control form-control-sm" type="text" id="spellDamageSecondaryDamage" name="spellDamageSecondaryDamage" [(ngModel)]="damage.secondaryDamage" placeholder="1d4">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spellDamageSecondaryDamageType">Secondary damage type</label>
                    <input class="form-control form-control-sm" type="text" id="spellDamageSecondaryDamageType" name="spellDamageSecondaryDamageType" [(ngModel)]="damage.secondaryDamageType" placeholder="acid">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Attack</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Attack</h4>
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellAttackType">type</label>
                  <input class="form-control form-control-sm" type="text" id="spellAttackType" name="spellAttackType" [(ngModel)]="attack.type" placeholder="range">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellAttackDamage">damage</label>
                  <input class="form-control form-control-sm" type="text" id="spellAttackDamage" name="spellAttackDamage" [(ngModel)]="attack.damage" placeholder="1d4">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellAttackDamageType">damage type</label>
                  <input class="form-control form-control-sm" type="text" id="spellAttackDamageType" name="spellAttackDamageType" [(ngModel)]="attack.damageType" placeholder="necrotic">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellHigherLevel">higher Level</label>
                  <div class="input-group">
                    <input class="form-control form-control-sm" type="number" id="spellHigherLevelDice" name="spellHigherLevelDice" [(ngModel)]="attack.higherLevelDice" placeholder="1">
                    <input class="form-control form-control-sm" type="text" id="spellHigherLevelDie" name="spellHigherLevelDie" [(ngModel)]="attack.higherLevelDie" placeholder="d4">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellDamageCastingStat">casting Stat</label>
                  <input class="form-control form-control-sm" type="text" id="spellDamageCastingStat" name="spellDamageCastingStat" [(ngModel)]="attack.castingStat" placeholder="true">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="spellDamageSecondaryDamage">secondary Damage</label>
                    <input class="form-control form-control-sm" type="text" id="spellDamageSecondaryDamage" name="spellDamageSecondaryDamage" [(ngModel)]="attack.secondaryDamage" placeholder="1d4">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spellDamageSecondaryDamageType">Secondary damage type</label>
                    <input class="form-control form-control-sm" type="text" id="spellDamageSecondaryDamageType" name="spellDamageSecondaryDamageType" [(ngModel)]="attack.secondaryDamageType" placeholder="force">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spellHigherLevel">Secondary higher Level</label>
                    <div class="input-group">
                      <input class="form-control form-control-sm" type="number" id="spellAttackSecondaryHigherLevelDice" name="spellAttackSecondaryHigherLevelDice" [(ngModel)]="attack.higherLevelSecondaryDice" placeholder="1">
                      <input class="form-control form-control-sm" type="text" id="spellAttackSecondaryHigherLevelDie" name="spellAttackSecondaryHigherLevelDie" [(ngModel)]="attack.higherLevelSecondaryDie" placeholder="d4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Save</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Save</h4>
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellSaveAbility">ability</label>
                  <input class="form-control form-control-sm" type="text" id="spellSaveAbility" name="spellSaveAbility" [(ngModel)]="save.ability" placeholder="range">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellSaveDamage">damage</label>
                  <input class="form-control form-control-sm" type="text" id="spellSaveDamage" name="spellSaveDamage" [(ngModel)]="save.damage" placeholder="1d4">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellSaveDamageType">damage type</label>
                  <input class="form-control form-control-sm" type="text" id="spellSaveDamageType" name="spellSaveDamageType" [(ngModel)]="save.damageType" placeholder="necrotic">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellSaveDamageBonus">damage Bonus</label>
                  <input class="form-control form-control-sm" type="text" id="spellSaveDamageBonus" name="spellSaveDamageBonus" [(ngModel)]="save.damageBonus" placeholder="1">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellHigherLevel">higher Level</label>
                  <div class="input-group">
                    <input class="form-control form-control-sm" type="number" id="spellHigherLevelDice" name="spellHigherLevelDice" [(ngModel)]="save.higherLevelDice" placeholder="1">
                    <input class="form-control form-control-sm" type="text" id="spellHigherLevelDie" name="spellHigherLevelDie" [(ngModel)]="save.higherLevelDie" placeholder="d4">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellDamageCastingStat">casting Stat</label>
                  <input class="form-control form-control-sm" type="text" id="spellDamageCastingStat" name="spellDamageCastingStat" [(ngModel)]="save.castingStat" placeholder="true">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="spellSaveSecondaryDamage">secondary Damage</label>
                    <input class="form-control form-control-sm" type="text" id="spellSaveSecondaryDamage" name="spellSaveSecondaryDamage" [(ngModel)]="save.secondaryDamage" placeholder="1d4">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spellDamageSecondaryDamageType">Secondary damage type</label>
                    <input class="form-control form-control-sm" type="text" id="spellDamageSecondaryDamageType" name="spellDamageSecondaryDamageType" [(ngModel)]="save.secondaryDamageType" placeholder="force">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spellSaveSecondaryHigherLevelDice">Secondary higher Level</label>
                    <div class="input-group">
                      <input class="form-control form-control-sm" type="number" id="spellSaveSecondaryHigherLevelDice" name="spellSaveSecondaryHigherLevelDice" [(ngModel)]="save.higherLevelSecondaryDice" placeholder="1">
                      <input class="form-control form-control-sm" type="text" id="spellSaveSecondaryHigherLevelDie" name="spellSaveSecondaryHigherLevelDie" [(ngModel)]="save.higherLevelSecondaryDie" placeholder="d4">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spellSaveCondition">Condition</label>
                    <input class="form-control form-control-sm" type="text" id="spellSaveCondition" name="spellSaveCondition" [(ngModel)]="save.condition" placeholder="force">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Heal</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Heal</h4>
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="spellHealAmount">amount</label>
                  <input class="form-control form-control-sm" type="text" id="spellHealAmount" name="spellHealAmount" [(ngModel)]="heal.amount" placeholder="1d4">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellHealCastingStat">castingStat</label>
                  <input class="form-control form-control-sm" type="text" id="spellHealCastingStat" name="spellHealCastingStat" [(ngModel)]="heal.castingStat" placeholder="true">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellHealHigherLevelDice">higher Level</label>
                  <div class="input-group">
                    <input class="form-control form-control-sm" type="number" id="spellHealHigherLevelDice" name="spellHealHigherLevelDice" [(ngModel)]="heal.higherLevelDice" placeholder="1">
                    <input class="form-control form-control-sm" type="text" id="spellHealHigherLevelDie" name="spellHealHigherLevelDie" [(ngModel)]="heal.higherLevelDie" placeholder="d4">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellHealHigherLevelAmount">higher Level Amount</label>
                  <input class="form-control form-control-sm" type="text" id="spellHealHigherLevelAmount" name="spellHealHigherLevelAmount" [(ngModel)]="heal.higherLevelAmount" placeholder="10">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="spellHealBonus">bonus</label>
                  <input class="form-control form-control-sm" type="text" id="spellHealBonus" name="spellHealBonus" [(ngModel)]="heal.bonus" placeholder="5">
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="card-footer">
    <p class="float-left card-text" (click)="logit(formFilter)"> filter form </p>
    <button type="button" class="btn btn-sm float-right btn-danger" (click)="clearFilter()">clearFilter</button>
  </div>
</div>

<br><br>