<div class="card">
  <ngb-tabset justify="fill">
    <ngb-tab>
      <ng-template ngbTabTitle>Details</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title mb-0">{{spell.name}}</h4>
          <blockquote class="blockquote">
            <footer class="blockquote-footer">{{spell.emote}}</footer>
          </blockquote>
          <table class="table table-sm">
            <thead>
              <tr>
                <th *ngIf="spell.range">Range</th>
                <th *ngIf="spell.target">Target</th>
                <th *ngIf="spell.aoe">Area of Effect</th>
                <th *ngIf="spell.duration">Duration</th>
                <th *ngIf="spell.castingTime">Casting Time</th>
                <th *ngIf="spell.components" class="mb-0">Components</th>
                <th>Ritual</th>
                <th>Concentration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="spell.range"><small class="text-muted"> {{spell.range}}</small></td>
                <td *ngIf="spell.target"><small class="text-muted"> {{spell.target}}</small></td>
                <td *ngIf="spell.aoe"><small class="text-muted"> {{spell.aoe}}</small></td>
                <td *ngIf="spell.duration"><small class="text-muted"> {{spell.duration}}</small></td>
                <td *ngIf="spell.castingTime"><small class="text-muted"> {{spell.castingTime}}</small></td>
                <td class="py-0" *ngIf="spell.components">
                  <!-- <div class="table-responsive pt-0"> -->
                  <table class="table  tabel-sm ">
                    <!-- <caption class="py-0"><small>{{spell.components.materialMaterial}} {{spell.components.materialCost}}</small></caption> -->
                    <thead>
                      <tr>
                        <th class="py-0"><small class="text-muted">V</small></th>
                        <th class="py-0"><small class="text-muted">S</small></th>
                        <th class="py-0"><small class="text-muted">M</small></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="py-0"><small class="text-muted">{{spell.components.verbal}}</small></td>
                        <td class="py-0"><small class="text-muted">{{spell.components.somatic}}</small></td>
                        <td class="py-0"><small class="text-muted">{{spell.components.material}}</small></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- </div> -->
                </td>
                <td [ngSwitch]="spell.ritual">
                  <small *ngSwitchCase="true" class="text-muted"> Yes</small>
                  <small *ngSwitchDefault class="text-muted"> No</small>
                </td>
                <td [ngSwitch]="spell.concentration">
                  <small *ngSwitchCase="true" class="text-muted"> Yes</small>
                  <small *ngSwitchDefault class="text-muted"> No</small>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="card-text">{{spell.description}}</p>
          <p class="card-text">{{spell.effects}}</p>

        </div>
      </ng-template>
    </ngb-tab>


    <ngb-tab *ngIf="spell.damage">
      <ng-template ngbTabTitle>Damage</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Damage</h4>
          <p class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th *ngIf="spell.damage.damage">damage</th>
                  <th *ngIf="spell.damage.damageType">damage type</th>
                  <th *ngIf="spell.damage.higherLevelDice">higher Level</th>
                  <th *ngIf="spell.damage.secondaryDamage"> secondarydamage</th>
                  <th *ngIf="spell.damage.secondaryDamageType">secondary damage type</th>
                  <th *ngIf="spell.damage.castingStat">casting Stat</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="spell.damage.damage">
                    {{spell.damage.damage}}
                    <div class="d-inline" *ngIf="spell.damage.damageBonus"> + {{spell.damage.damageBonus}}</div>
                  </td>
                  <td *ngIf="spell.damage.damageType">
                    {{spell.damage.damageType}}
                  </td>
                  <td *ngIf="spell.damage.higherLevelDice">
                    {{spell.damage.higherLevelDice}}{{spell.damage.higherLevelDie}}
                  </td>
                  <td *ngIf="spell.damage.secondaryDamage">
                    {{spell.damage.secondaryDamage}}
                    <div class="d-inline" *ngIf="spell.damage.damageBonus"> + {{spell.damage.damageBonus}}</div>
                  </td>
                  <td *ngIf="spell.damage.secondaryDamageType">
                    {{spell.damage.secondaryDamageType}}
                  </td>
                  <td *ngIf="spell.damage.castingStat">
                    {{spell.damage.higherLevelDice}}{{spell.damage.higherLevelDie}}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="spell.attack">
      <ng-template ngbTabTitle>Attack</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Attack</h4>
          <p class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th *ngIf="spell.attack.type">attack type</th>
                  <th *ngIf="spell.attack.damage">damage</th>
                  <th *ngIf="spell.attack.damageType">damage type</th>
                  <th *ngIf="spell.attack.higherLevelDice">higher Level</th>
                  <th *ngIf="spell.attack.secondaryDamage">secondary damage</th>
                  <th *ngIf="spell.attack.secondaryDamageType">secondary damage type</th>
                  <th *ngIf="spell.attack.higherLevelSecondaryDie">secondary higher Level</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="spell.attack.type">
                    {{spell.attack.type}}
                  </td>
                  <td *ngIf="spell.attack.damage">
                    {{spell.attack.damage}}
                  </td>
                  <td *ngIf="spell.attack.damageType">
                    {{spell.attack.damageType}}
                  </td>
                  <td *ngIf="spell.attack.higherLevelDice">
                    {{spell.attack.higherLevelDice}}{{spell.attack.higherLevelDie}}
                  </td>
                  <td *ngIf="spell.attack.secondaryDamage">
                    {{spell.attack.secondaryDamage}}
                  </td>
                  <td *ngIf="spell.attack.secondaryDamageType">
                    {{spell.attack.secondaryDamageType}}
                  </td>
                  <td *ngIf="spell.attack.higherLevelSecondaryDice">
                    {{spell.attack.higherLevelSecondaryDice}}{{spell.attack.higherLevelSecondaryDie}}
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <p class="card-text">
              {{spell.damage.damage}} {{spell.damage.damageType}} {{spell.damage.higherLevelDice}} {{spell.damage.higherLevelDie}} {{spell.damage.castingStat}} {{spell.damage.secondaryDamage}} {{spell.damage.secondaryDamageType}} {{spell.damage.damageBonus}}
            </p>
            <p class="card-text">
              {{spell.attack.type}} {{spell.attack.damage}} {{spell.attack.damageType}} {{spell.attack.higherLevelDice}} {{spell.attack.higherLevelDie}} {{spell.attack.secondaryDamage}} {{spell.attack.secondaryDamageType}} {{spell.attack.higherLevelSecondaryDice}}
              {{spell.attack.higherLevelSecondaryDie}} {{spell.attack.castingStat}}
            </p> -->
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="spell.save">
      <ng-template ngbTabTitle>Save</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Save</h4>
          <p class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th *ngIf="spell.save.ability">ability</th>
                  <th *ngIf="spell.save.damage">damage</th>
                  <th *ngIf="spell.save.damageType">damage type</th>
                  <th *ngIf="spell.save.saveSuccess">on Successfull save</th>
                  <th *ngIf="spell.save.saveFailure">on failed save</th>
                  <th *ngIf="spell.save.higherLevelDice">higher Level damage</th>
                  <th *ngIf="spell.save.secondaryDamage">secondary damage</th>
                  <th *ngIf="spell.save.secondaryDamageType">secondary damage type</th>
                  <th *ngIf="spell.save.condition">condition</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="spell.save.ability">
                    {{spell.save.ability}} saving throw
                  </td>
                  <td *ngIf="spell.save.damage">
                    {{spell.save.damage}}
                    <div class="d-inline" *ngIf="spell.save.damageBonus"> + {{spell.save.damageBonus}}</div>
                  </td>
                  <td *ngIf="spell.save.damageType">
                    {{spell.save.damageType}}
                  </td>
                  <td *ngIf="spell.save.saveSuccess">
                    {{spell.save.saveSuccess}}
                  </td>
                  <td *ngIf="spell.save.saveFailure">
                    {{spell.save.saveFailure}}
                  </td>
                  <td *ngIf="spell.save.higherLevelDice">
                    {{spell.save.higherLevelDice}}{{spell.save.higherLevelDie}}
                  </td>
                  <td *ngIf="spell.save.secondaryDamage">
                    {{spell.save.secondaryDamage}}
                  </td>
                  <td *ngIf="spell.save.secondaryDamageType">
                    {{spell.save.secondaryDamageType}}
                  </td>
                  <td *ngIf="spell.save.condition">
                    {{spell.save.condition}}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="spell.heal">
      <ng-template ngbTabTitle>Heal</ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <h4 class="card-title">Heal</h4>
          <p class="card-text">

            <table class="table">
              <thead>
                <tr>
                  <th *ngIf="spell.heal.amount">amount</th>
                  <th *ngIf="spell.heal.castingStat">casting stat</th>
                  <th *ngIf="spell.heal.higherLevelDie || spell.heal.higherLevelAmount">higher level</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="spell.heal.amount">
                    {{spell.heal.amount}}
                    <div class="d-inline" *ngIf="spell.heal.bonus"> + {{spell.heal.bonus}}</div>
                  </td>
                  <td *ngIf="spell.heal.castingStat">
                    {{spell.heal.castingStat}}
                  </td>
                  <td *ngIf="spell.heal.higherLevelDie || spell.heal.higherLevelAmount">
                    {{spell.heal.higherLevelDice}}{{spell.heal.higherLevelDie}}
                    <div class="d-inline" *ngIf="spell.heal.higherLevelAmount"> + {{spell.heal.higherLevelAmount}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="card-footer">
    <!-- format and display level and school -->
    <div [ngSwitch]="spell.level">
      <small class="text-muted" *ngSwitchCase="0">{{spell.school}} cantrip</small>
      <small class="text-muted" *ngSwitchCase="1">{{spell.level}}st level {{spell.school}} spell</small>
      <small class="text-muted" *ngSwitchCase="2">{{spell.level}}nd level {{spell.school}} spell</small>
      <small class="text-muted" *ngSwitchDefault>{{spell.level}}th level {{spell.school}} spell</small>
    </div>
    <!-- loop over classes and display them with the appropriate subclass requirements if needed -->
    <!-- needs work to desplay inline  -->
    <div *ngFor="let class of spell.classes">
      <div class="d-inline" [ngSwitch]="class">
        <div class="text-muted d-inline" *ngSwitchCase="'Cleric'"> {{class}}
          <div *ngFor="let domain of spell.domains">{{domain}}, </div>
        </div>
        <div class="text-muted d-inline" *ngSwitchCase="'Druid'"> {{class}}
          <div *ngFor="let circle of spell.circles">{{circle}}, </div>
        </div>
        <div class="text-muted d-inline" *ngSwitchCase="'Paladin'"> {{class}}
          <div *ngFor="let oath of spell.oaths">{{oath}}, </div>
        </div>
        <div class="text-muted d-inline" *ngSwitchCase="'Warlock'"> {{class}}
          <div *ngFor="let patron of spell.patrons">{{patron}}, </div>
        </div>
        <div class="text-muted d-inline" *ngSwitchDefault>{{class}}</div>
      </div>
    </div>
    <small class="text-muted">source {{spell.source}}</small>
  </div>
</div>
<br><br>