<ngb-carousel style="  display: block;
  overflow: visible;
  width: auto;
  height: auto;
  max-width: 80%;
  min-width: 70%;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  float: none;">
  <ng-template ngbSlide>
    <img src="../assets/DnDFanSiteKit/Rulebooks/DnD_DMG_Art.jpg" style="  height: 65vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      " alt="from the DMG">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/DnDFanSiteKit/Rulebooks/DnD_MM_Art.jpg" style="  height: 65vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      background-position:center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      " alt="from the MM">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/DnDFanSiteKit/Rulebooks/DnD_PHB_Art.jpg" style="  height: 65vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      " alt="from the PHB">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1>Half Slider by Start Bootstrap</h1>
    <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the
      <code>half-slider.css</code>file.</p>
  </div>
</section>