<ngb-carousel>
  <ng-template ngbSlide>
    <!-- lode in images and set custom css to make them full width -->
    <div class="carousel-item active" style="background-image: url(assets/DnDFanSiteKit/Rulebooks/DnD_PHB_Art.jpg)">
      <div class="carousel-caption d-none d-md-block">
        <h3>Players Hand Book</h3>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- lode in images and set custom css to make them full width -->
    <div class="carousel-item active" style="background-image: url(assets/DnDFanSiteKit/Rulebooks/DnD_MM_Art.jpg)">
      <div class="carousel-caption d-none d-md-block">
        <h3>Monster Manual</h3>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- lode in images and set custom css to make them full width -->
    <div class="carousel-item active" style="background-image: url(assets/DnDFanSiteKit/Rulebooks/DnD_DMG_Art.jpg)">
      <div class="carousel-caption d-none d-md-block">
        <h3>Dungen Master Guide</h3>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<section class="py-5">
  <div class="container">
    <h1>DNDindex</h1>
    <p>
      This is a demo wesite made with angualr 5 and bootstap 4 / ng-bootstrap, the purpose of this website is to deminstat my understanding of the aforementioned framworks and for a bit of fun
    </p>
  </div>
</section>