<br>
<div class="container">
  <monsterFilterForm [(inito)]="filter"> </monsterFilterForm>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Monster List</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th (click)="sort('name')">
              <button class="btn btn-sm w-100 btn-info" (click)="sort('name')">
                Name
                <!-- add an arrow to the i element where the colem name matches the button name and assending or desending toggles the up or down  -->
                <i [ngClass]="{'': column != 'name', 'sort-asc': (column == 'name' && isDesc), 'sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"> </i>
              </button>
            </th>
            <th>
              <button class="btn btn-sm w-100 btn-info" (click)="sort('challenge')">
                Challenge
                <!-- add an arrow to the i element where the colem challenge matches the button challenge and assending or desending toggles the up or down  -->
                <i [ngClass]="{'': column != 'challenge', 'sort-asc': (column == 'challenge' && isDesc), 'sort-desc': (column == 'challenge' && !isDesc) }" aria-hidden="true"> </i>
              </button>
            </th>
          </tr>
        </thead>
        <!-- tabel for displaying monster list -->
        <tbody *ngFor="let monster of monsters|monsterFilter:filter | orderBy: {property: column, direction: direction}">
          <tr (click)="openMonsterPage(monster)">
            <td>{{monster.name}}</td>
            <td>{{monster.challenge}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>